/.ipynb_checkpoints/
/.venv/
/build/
/dist/
/*.egg-info/
/src/*.egg-info/

__pycache__/
*.py[cod]

*.o
*.so
*.dylib
*.a
*.dSYM/

.python-version

/src/pymicromegas/micromegas_5.0.8/include/microPath.h
/src/pymicromegas/micromegas_5.0.8/CalcHEP_src/FlagsForMake
/src/pymicromegas/micromegas_5.0.8/**/pymicromegas_bridge.c
/src/pymicromegas/micromegas_5.0.8/**/pymicromegas_main
/src/pymicromegas/micromegas_5.0.8/**/pymicromegas_main.c
/src/pymicromegas/micromegas_5.0.8/**/pymicromegas_main.cpp
/src/pymicromegas/micromegas_5.0.8/**/.pymicromegas-project
/src/pymicromegas/micromegas_5.0.8/**/work/VandP.c
/src/pymicromegas/micromegas_5.0.8/**/work/path.c
/src/pymicromegas/micromegas_5.0.8/**/work/autoprot.h
/src/pymicromegas/micromegas_5.0.8/**/work/bin
/src/pymicromegas/micromegas_5.0.8/**/work/tmp/
/src/pymicromegas/micromegas_5.0.8/**/work/results/
/src/pymicromegas/micromegas_5.0.8/**/work/so_generated/
/src/pymicromegas/micromegas_5.0.8/pymg_unittest_*/